*{
    margin: 0; padding: 0; box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
/*     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/shoes6.jpg");                                                                  */
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%; height: 10vh;
    /* background: rgba(red, green, blue, alpha); */
    background: rgba(0,0,0,0.2);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.log{
    text-align: center;
    margin-left: 200px;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.menu a{
    color: white;
    text-decoration: none;
    width: 25%;
    font-weight: bold;
}
.menu a:hover{
    color: red;

}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
section{

}
section h3{
    font-size: 65px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}
section h1{
    font-size: 34px;
    margin: 8px 0 2px 0;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    
}
section p{
    margin-bottom: 20px;
    word-spacing: 2px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    color: lightgreen;
    font-weight: bold;
}
section a{
    padding: 12px 30px;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-decoration: 1px;
}
section .btn1{
    background: crimson;
    color: white;
}
section .btn1:hover{
    background: green;
    color: black;
}
section .btn2{
    background: green;
    color: white;
}
section .btn2:hover{
    background: crimson;
    color: black;
}
footer{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url("./img/pink.png"); 
    background-size: cover;
    margin-top: 0%;
}
/* .frame1{ */
    /* box-sizing: border-box;
    width: 40%;
    height: 30%;
} */
img{
    border: 1rem;
    display: flex;
    margin-left: 10%;
    height: 700;
    width: 80%;
    margin-right: 400;
 margin-top: 0.4rem black;

}
.hw{
    padding: 8px 15px;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: 1px;
    background: crimson;
    color: white;
    text-align: center;
    justify-content: center;
}
/* fssdf */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 30px;
  /* padding: 8px 12px; */
  background: crimson;
  justify-content: space-around;
  bottom: 8px;
  width: 100%;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: 1px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.org{
    background: black;
    size: cover;
}
.hth{
  background: black;
  display: flex;
  padding: 3rem;
}
.hth2{
  margin-left: 30%;
}
.hth2 p{
  padding-bottom: 0.3rem;
  margin-bottom: 0.8rem;
}
.mySlides fade img{
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
} 
video{
  width: 80% !important;
  height: auto !important;
  margin-left: 10%;
  

}
